<section>
    {{#each myposts as |post|}}
    <div>
    <h3 id="posttitle">{{post.title}}</h3>
    <h4 id="content">{{format_date post.date}}</h4>
    <a href="/post/{{post.id}}"<h3>View Post</h3>
    </div>
    {{/each}}
</section>