<div class="container">

  <div class="row bothForms">
    <div class="col-lg-5 col-sm-12 col-md-6 loginForms bg-Info my-5">
      <div>
        <h2 class="mb-0">Login</h2>
      </div>

      <form class="form login-form">
        <div class="form-group">
          <label for="username-login" class="mb-3 text-start"></label><br />
          <input
            class="form-input"
            type="text"
            id="username-login"
            placeholder="username"
          />
        </div>
        <div class="form-group col">
          <label for="password-login" class="mb-3"></label><br />
          <input
            class="form-input"
            type="password"
            id="password-login"
            placeholder="password"
          />
        </div>
        <div class="form-group col text-center loginbutton">
          <button class="btn btn-success mt-2" type="submit">login</button>
        </div>
      </form>
    </div>

    <div class="login-card col-lg-5 col-sm-12 col-md-6 bg-Info my-5">
      <h2 class="page-title mb-3">Signup!</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup" class="form-label"></label>
          <input
            class="form-input mb-3"
            type="text"
            id="username-signup"
            placeholder="username"
          />
        </div>
        <div class="form-group">
          <label for="password-signup" class="form-label"></label>
          <input
            class="form-input"
            type="password"
            placeholder="password"
            id="password-signup"
          />

        </div>

        <div class="form-group text-center">
          <button class="btn btn-success m-2" type="submit">signup</button>
        </div>
      </form>
      <p style="font-size: 13px; color: gray">* username or password must not
        contain numbers of special characters *</p>

    </div>
  </div>
</div>

<script src="/js/login.js"></script>