<section class="form-To-Update">
  <div class="currentPost">
    <h2>Current Post</h2>
    <h3 style="color: brown;">Title: <br />{{post.title}}</h3><br />
    <h3 style="color: rgb(192, 89, 89);">Content: <br />{{post.content}}</h3><br
    />
    <h4 style="font-size: 15px;">Posted By: {{post.user.username}}</h4><br />
    <h4 style="font-size: 15px;">Date of Post: {{format_date post.date}}</h4><br
    />
  </div>

  <div class="updated-Post">

    <h2>
      Updated Post
    </h2>
    <form id="update-post-form">
      <label id="title-label" class="text-start">Updated Title:</label><br />
      <input
        type="text"
        id="newTitle"
        placeholder="Write your title here..."
      /><br />
      <label id="post-label" class="text-start">Updated Post:</label><br />
      <input
        type="text"
        id="newPost"
        placeholder="Write your post here..."
      /><br />
      <button type="submit" class="btn btn-primary updateSubmit">Submit</button>
    </form>

  </div>
</section>

<script src="/js/updatepost.js"></script>

{{! need javascript file for new post, need api cnotroller for new post }}