#add-comment-form {
  display: none;
}

/* #add-post-form {
  display: none;
} */
body {
  height: 100% !important;
  width: 100% !important;
  background-color: rgb(241, 241, 247);
}

.loginForms {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-style: double;
}

.login-card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  border-style: double;
}

.bothForms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allPosts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
}

.posts {
  background-color: rgb(199, 255, 255);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  box-shadow: 10px 10px 5px gray;
  border-radius: 10%;
}

.Post-so-Far {
  font-size: 40px;
  color: cadetblue;
  background-color: rgb(211, 243, 211);
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.Post-so-Far:hover {
  background-color: green;
  color: black;
}

#Post-so-Far {
  text-decoration: none;
}

header {
  font-size: 70px;
  color: cadetblue;
  background-color: azure;
}

.navbar {
  background-color: white;
  margin-bottom: 20px;
  border-style: solid;
}

.nav-link {
  color: blue;
}

.viewPost {
  text-decoration: none;
  color: green;
}

.onePost {
  text-align: center;
}

.delete-update {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  margin-bottom: 20px;
}

#update {
  background-color: aquamarine;
  border-radius: 30px;
}

#delete {
  background-color: red;
  border-radius: 30px;
}

#commentDiv {
  text-align: center;
}

#comment {
  text-align: center;
  background-color: green;
  font-size: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}

#add-comment-form {
  text-align: center;
}

#mycomment {
  width: 30%;
  height: 30%;
}

#eachComment {
  background-color: rgb(199, 255, 255);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  box-shadow: 10px 10px 5px gray;
}

#allComments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#allComments h2 {
  width: fit-content;
  background-color: white;
  margin-top: 30px;
}

#add-post-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#post-title {
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#post-content {
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 20px;
}

#mytitle {
  margin: 0;
  padding: 15px;
}

.addForms {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

#mypost {
  padding: 20px;
  margin-bottom: 10px;
}

.postSubmit,
.updateSubmit {
  width: fit-content;
  margin: auto;
}

#pastPosts {
  text-align: center;
  margin: 20 0px;
}

.currentPost,
.updated-Post {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currentPost {
  background-color: rgb(251, 234, 236);
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 30px;
  border-style: groove;
}

#update-post-form {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

#newTitle {
  padding: 15px;
  margin-bottom: 20px;
}

#newPost {
  padding: 20px;
}

.updated-Post {
  background-color: rgb(251, 234, 236);
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  border-style: groove;
}

.updated-Post:hover {
  background-color: rgb(249, 151, 162);
}
